---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Stephen Harwell";
const title = "Analytics and web management - Stephen Harwell"
---
<BaseLayout pageTitle={pageTitle} title={title}>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>