---
import Hamburger from "./Hamburger.astro";
---
<nav class="py-2 px-3 shadow-md">
    <Hamburger />
    <div class="nav-links flex gap-5">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/projects/">Projects</a>
        <a href="/tags/">Tags</a>
    </div>
</nav>